# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.whl
.pytest_cache/
.pdf
buildcode.py
# Virtual environments
.venv/
.venv/Lib/

# Build artifacts
build/
**/build/
CMakeFiles/
archive/cifar-10-batches-py/
CMakeCache.txt
cmake_install.cmake

# CUDA / compiler outputs
*.obj
*.o
*.exp
*.lib
*.dll
*.pdb
*.pdf

# Jupyter
.ipynb_checkpoints/

# Dataset cache
/data/

# OS files
.DS_Store
Thumbs.db
